<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>

    <php>
        <const name="WEBSERVER_PORT" value="8000" />
    </php>

    <testsuites>
        <testsuite name="BeSimpleSoap Test Suite">
            <directory>./src/BeSimple/*/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/BeSimple/</directory>
            <exclude>
                <directory>./src/BeSimple/*/Tests</directory>
                <directory>./src/BeSimple/*/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
